version: "3"

services:
  nginx:
    image: nginx:latest
    ports:
      - "8076:80"
    volumes:
      - ./:/var/www/
      - ./_docker/nginx/conf.d/:/etc/nginx/conf.d/
    depends_on:
      - app

  app:
    build:
      context: .
      dockerfile: _docker/app/Dockerfile
    volumes:
      - ./:/var/www/
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    volumes:
      - ./tmp/db:/var/lib/mysql
    environment:
      MYSQL_DB: repair_ticket_system
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8101:3306"
